@import "tailwindcss";

@theme {
  --color-brand-primary: oklch(0.36 0.11 265.06);
  --color-brand-hover: oklch(0.49 0.23 262.62);
  --color-ui-inactive: oklch(0.83 0 0);
  --color-ui-hint: oklch(0.75 0.04 262.99);
  --color-text-message: oklch(44.6% 0.03 256.802);
  --color-text-white: oklch(1 0 0);
}

@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: oklch(0.36 0.11 265.06) !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    /* Custom Scrollbar for Webkit (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 3px;
        transition: background-color 0.2s ease-in-out;
    }

    /* Show scrollbar thumb when hovering over the scrollable element */
    *:hover::-webkit-scrollbar-thumb {
        background-color: rgba(156, 163, 175, 0.5); /* gray-400 with opacity */
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(107, 114, 128, 0.8); /* gray-500 */
    }
}