@import "tailwindcss";

@theme {
  --color-primary: #1767cf;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;
}

@layer base {
    body {
        font-family: "Inter", sans-serif;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: #111821 !important;
        transition: background-color 5000s ease-in-out 0s;
    }
    
    @media (prefers-color-scheme: dark) {
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
             -webkit-box-shadow: 0 0 0 30px #1e293b inset !important; /* slate-800 */
             -webkit-text-fill-color: white !important;
             transition: background-color 5000s ease-in-out 0s;
        }
    }

    /* Custom Scrollbar for Webkit (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 3px;
        transition: background-color 0.2s ease-in-out;
    }

    /* Show scrollbar thumb when hovering over the scrollable element */
    *:hover::-webkit-scrollbar-thumb {
        background-color: rgba(156, 163, 175, 0.5); /* gray-400 with opacity */
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(107, 114, 128, 0.8); /* gray-500 */
    }
    
    .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}