@import "tailwindcss";

@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: oklch(0.36 0.11 265.06) !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}